.character {}
.center {text-align   : center;}
.commercial {}
.fb {}
.MsoBodyText {}
.scene {text-align   : center;
    color        : #000099;
    background   : #dddddd none repeat;}
.style1 {text-align: center; font-weight: bold; }
.unseen {}